
.Aboutme{
    background-color:#1d2c46;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.5em;
    padding-bottom: 50px;
    min-height: 700px;
}
.Skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:hsl(218, 42%, 35%);

    color: white;
}
.imagen{
    width: 90px;
}
.imagenround{
    width: 90px;
    border-radius: 20px;
}
.video{
    width: 100%;
}
.Myprojects{
    position: relative;
    top: -10vh;
    color: white;
    background-color:hsl(219, 40%, 43%)
}
.hov:hover{
    color: aquamarine;
}