.Aboutme {
  background-color: #233554;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  padding-bottom: 50px;
}

.Skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(51, 78, 125);
  color: white;
}

.imagen {
  width: 90px;
}

.imagenround {
  width: 90px;
  border-radius: 20px;
}

.video {
  width: 320px;
}

.Myprojects {
  position: relative;
  top: -10vh;
  color: white;
  background-color: #42619b;
}

.hov:hover {
  color: aquamarine;
}

.App {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -1;
  color: #ccd6f6;
}

.Back {
  height: 110vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(0.25turn, #0a192f, #233554, #233554, #0a192f, #0a192f);
  background-size: 300vw;
  -webkit-animation-name: backg;
          animation-name: backg;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.arrow-up {
  position: relative;
  top: 1vh;
  width: 100%;
  height: 10vh;
  background: #233554;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

.arrow-up2 {
  position: relative;
  top: 1vh;
  width: 100%;
  height: 10vh;
  background: rgb(51, 78, 125);
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.arrow-up3 {
  position: relative;
  z-index: 10;
  top: -1vh;
  width: 100%;
  height: 10vh;
  background: rgb(51, 78, 125);
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
}

/* .blur{

  width: 100%;
  height: 6vh;
  opacity: 1;
  position: absolute;
  top: 95vh;
  backdrop-filter:  blur(1px);
} */
.Header {
  font-size: 1em;
  color: #64ffda;
  opacity: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Header1 {
  color: rgba(255, 255, 255, 0.508);
  font-size: 2em;
  opacity: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Header2 {
  color: rgb(255, 255, 255);
  font-size: 3.5em;
  opacity: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Header3 {
  color: rgba(255, 255, 255, 0.486);
  font-size: 2em;
  opacity: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.body {
  text-align: center;
  background-color: #233554;
  color: rgb(0, 0, 0);
  height: 1000px;
  width: 100%;
}

@-webkit-keyframes example {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -5vh, 0);
  }
}

@keyframes example {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -5vh, 0);
  }
}
@-webkit-keyframes backg {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
@keyframes backg {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}/*# sourceMappingURL=main.css.map */