@import "./skills";

.App{
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    color: #ccd6f6;
  }
  .cont{
    height: 110vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    overflow: hidden;
  }
  .Back{
    position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
    height: 110vh;
    width: 300%;
    
   
    background:linear-gradient(0.25turn, #0a192f,#0a192f, #233554,#233554);
    
    // background-size:200vw;
     animation-name: backg;
     animation-duration: 13s;
     // animation-delay: 1s;
     animation-iteration-count: infinite;
     animation-fill-mode: forwards;
     animation-direction:alternate;
     animation-timing-function: linear;
    
  }
  .arrow-up {
    //position: absolute;
    //top: 101vh;
    position: relative;
    top: 1vh;
    width: 100%;
    height: 10vh;
    background: #1d2c46;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  }
  .arrow-up2 {
    position: relative;
    top: 1vh;
    width: 100%;
    height: 10vh;
    background: hsl(218, 43%, 29%);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
  .arrow-up3 {
    position: relative;
    z-index: 10;
    top: -1vh;
    width: 100%;
    height: 10vh;
    background: hsl(218, 43%, 29%);
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  } 
  .arrow-up4 {
    position: relative;
    z-index: 10;
    top: 9vh;
    width: 100%;
    height: 10vh;
    background: hsl(220, 43%, 40%);
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
  }
  /* .blur{
    
    width: 100%;
    height: 6vh;
    opacity: 1;
    position: absolute;
    top: 95vh;
    backdrop-filter:  blur(1px);
  } */
  .Header{
    font-size: 1em;
    color: #64ffda;
    opacity: 0;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    
  }
  .Header1{
    color: rgba(255, 255, 255, 0.508);
    
    font-size: 2em;
    opacity: 0;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }
  .Header2{
    color: rgb(255, 255, 255);

    font-size: 3.5em;
    opacity: 0;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }
  .Header3{
    color: rgba(255, 255, 255, 0.486);

    font-size: 2em;
    opacity: 0;
    animation-name: example;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }
  .body{
    text-align: center;
    background-color: #1d2c46;
    color: rgb(0, 0, 0);
    
    width: 100%;
   
  }
  @keyframes example {
    0%{
      opacity: 0;
      transform: translate3d(0,0,0);
    }
    100% {
          opacity: 1;
      transform: translate3d(0,-5vh,0);
  
    }
  }
  @keyframes backg {
    0%{
      transform: translateX(0);
      
    }
    100% {
      transform: translateX(-50%);
  
    }
  }